<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>keepAlive</title>
</head>
<body>
<div id="app">
    <!--template  slot transition vue自带的标签-->
    <input type="radio" v-model="radio" key="home" value="home">home
    <input type="radio" v-model="radio" key="list" value="list">list
    <!--一般缓存的作用：为的是后面的路由做准备，如果缓存了就不会再走created mounted钩子函数-->
    <!--子组件和父组件同时拥有mounted，先走谁？-->
    <!--需要等待子组件挂载完成后再触发父组件的挂载-->
    <keep-alive>
        <component :is="radio"></component>
    </keep-alive>
    <child ref></child>
</div>

<template id="child">
    <div>
        <li v-for="a in arr">{{a}}</li>
    </div>
</template>
<script src="../../node_modules/vue/dist/vue.js"></script>
<script>
    let home={template:'<div>home</div>'};
    let list={template:'<div>list</div>'};
    let vm = new Vue({
        el: '#app',
        mounted(){//写mounted操作dom，尽量加$nextTick
            this.$nextTick(()=>{
                console.log(this.$refs.child.$el.innerHTML)
            });

        },
        data:{radio:'home'},
        components:{
            home,list,
            child:{
                template:'#child',
                data(){
                    return {arr:[1,2,3]}
                },
                mounted(){
                    this.arr=[4,5,6]//异步渲染dom
                }
            }
        }
    })
</script>
</body>
</html>